
// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'articles';

.newsfeed-header {
    line-height: 1;
    border-bottom: 1px solid #343a40;
}

.newsfeed-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.newsfeed-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.newsfeed-navigation {
    select {
        background-image: linear-gradient(#EEEEEE, #D7D7D7);
        border-radius: 0;
    }
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
