.article-card {
    &:hover {
        cursor: pointer;
    }
}

.article-details {
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    padding: 0.2em 0;
    margin: 0 0px 1rem 0px;
}
