<template>
    <div class="col-md-12">
        <img v-if="imageSrc" class="img-fluid" :src="imageSrc" alt="">
        <h3 class="text-muted">
            {{ article.sub_heading }}
        </h3>
        <h1 class="text-dark mb-3">
            {{ article.heading }}
        </h1>
        <p>{{ article.preabmle }}</p>
        <div class="row flex-nowrap justify-content-between align-items-center article-details no-gutters">
            <div class="col">
                AV: {{ authors }}
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                Publisert: {{ published }}
            </div>
        </div>
        <div class="row">
            <div class="col" v-html="article.content.content"></div>
            <div class="col-md-4" v-if="article.similar.length > 0">
                Relaterte Artikler
                <div class="row">
                    <article-preview
                        v-for="related in article.similar"
                        :article="related"
                        :is-related="true"
                        :key="related.article_id">
                    </article-preview>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['article'],

        computed: {
            imageSrc: function () {
                return _.get(this.article.images, ['0', 'image_source'], null);
            },

            authors: function () {
                return this.article.authors
                    .map(a => a.first_name + ' ' + a.last_name).join(', ');
            },

            published: function () {
                return moment(this.article.published_date)
                    .format('D. MMM. YYYY - HH:mm');
            },
        }
    }
</script>