<template>
    <div class="col-md-12">
        <div class="card d-block flex-md-row mb-4 p-3 article-card" :class="{'d-lg-flex': !isRelated}"
            @click="$root.$data.goTo(article.site_id, article.relative_url)">
            <img v-if="imageSrc" class="flex-auto img-fluid mx-auto d-block" :src="imageSrc" alt="">
            <div class="card-body d-flex flex-column align-items-start">
                <p v-if="isRelated">{{ article.heading }}</p>
                <template v-else>
                    <h3 class="text-dark mb-3">
                        {{ article.heading }}
                    </h3>
                    <p class="card-text mt-auto">{{ article.preabmle }}</p>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            article: Object,
            isRelated: {
                type: Boolean,
                default: false
            },
        },
        
        computed: {
            imageSrc: function () {
                return _.get(this.article.images, ['0', 'resized_sources', '300x150c'], null);
            }
        }
    }
</script>