<template>
    <select class="form-control form-control-lg" @change="changeSite" :value="$root.$data.currentNewsfeed.site_id">
        <option v-for="site in sites" :value="site.site_id">{{ site.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['sites'],

        methods: {
            changeSite(event) {
                this.$root.$data.goTo(event.target.value);
            }
        },
    }
</script>