<template>
    <div>
        <nav class="newsfeed-navigation py-3 my-3">
            <div class="row flex-nowrap">
                <div class="col-md-4">
                    <navigation :sites="sites"
                    :selected="$root.$data.currentNewsfeed.site_id"
                    ></navigation>
                </div>
                <div class="col-auto" v-if="$root.$data.currentNewsfeed.article_id">
                    <button type="button" class="btn btn-lg btn-outline-dark" @click="back">Back</button>
                </div>
            </div>
        </nav>

        <div class="row mb-2">
            <article-component
                v-if="$root.$data.currentNewsfeed.article_id && article"
                :article="article">
            </article-component>
            <article-preview
                v-else
                v-for="article in articles"
                :article="article"
                :key="article.article_id">
            </article-preview>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['sites'],

        data: function () {
            return {
                articles: [],
                article: null
            }
        },

        mounted() {
            let [, site_id, ...article_id] = window.location.pathname.split('/');

            article_id = article_id.join('/');
            site_id = site_id || this.sites[0]['site_id'];

            this.$root.$data.goTo(site_id, article_id);
        },

        methods: {
            getSite: function (site_id) {
                axios.get(`/api/articles/${site_id}`)
                    .then(response => (this.articles = response.data.data));

                window.scrollTo(0, 0)
            },

            getArticle: function (site_id, article_id) {
                axios.get(`/api/articles/${site_id}/${article_id}`)
                    .then(response => (this.article = response.data.data));

                window.scrollTo(0, 0)
            },

            back: function () {
                this.$root.$data.goTo(this.$root.$data.currentNewsfeed.site_id);
                this.article = null;
            },
        },

        watch: {
            '$root.$data.currentNewsfeed': {
                deep: true,
                handler: function ({site_id, article_id}) {
                    if(article_id) {
                        this.getArticle(site_id, article_id);
                    } else {
                        this.getSite(site_id);
                    }
                }
            },
        }

    }
</script>